{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Talleres adultos mayores</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">

    <meta content="" name="description">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'core/img/favicon.ico' %}" rel="icon">
    <link href="{% static 'core/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/tabla.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/comentario.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/colores.css' %}" rel="stylesheet" type="text/css">

    {% block css %}
    {% endblock %}

</head>

<body>


    <div class="container-fluid copy text-light p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-4 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-map-marker-alt text-white me-4"></small>
                    <small>Avenida
                        Av. Concha y Toro #1.820</small>
                </div>

            </div>
            <div class="col-lg-5 px-4 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-phone-alt  me-2 copy"></small>
                    <small>+56227315388</small>
                </div>
                <div class="h-100 d-inline-flex align-items-cente mx-n2">
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary"
                        href="https://www.facebook.com/munipuentealto/"><i
                            class="fab fa-facebook-f"></i></a>
      
                    <a class="btn btn-square btn-link rounded-0"
                        href="https://www.instagram.com/mpuentealto/"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-4">
            <h2 class="m-0" style="display: flex; align-items: center;">
                <img src="{% static 'core/img/cafe/puentealto.png' %}" width="100" height="70"
                    style="margin-right: 20px;">
                <span style="flex: 1;">Puente alto</span>
            </h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Inicio</a>
                <a href="{% url 'listartalleres' %}" class="nav-item nav-link">Postular</a>

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-item nav-link">Cerrar Sesión</a>
                {% else %}
                <a href="{% url 'login' %}" class="nav-item nav-link">Iniciar sesión</a>
                <a href="{% url 'registro' %}" class="nav-item nav-link">Crear Cuenta</a>
                {% endif %}

                <div class="nav-item dropdown">
                    {% if user.is_authenticated and user.username == 'admin' %}
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">administración</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="{% url 'addadultomayor' %}" class="dropdown-item">Registrar Adulto Mayor</a>
                        <a href="{% url 'listar' %}" class="dropdown-item">Lista Adulto Mayor</a>
                        <a href="{% url 'addtalleres' %}" class="dropdown-item">Añadir Taller</a>
                        <a href="{% url 'listartalleres' %}" class="dropdown-item">Lista Talleres</a>
                        <a href="{% url 'postulaciontaller' %}" class="dropdown-item">Postulacion Taller</a>

                    </div>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
         

                {% endif %}

            </div>
        </div>
    </nav>
    {% block contenido %}
    {% endblock %}


    <div class="container-fluid copyright text-light footer my-6 mb-0 py-6  fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4"></i>Vive la Experiencia</h4>
                    <p>
                        ¡No pierdas la oportunidad de unirte a nuestros enriquecedores talleres para adultos mayores en
                        Puente Alto! Además, la Municipalidad te invita a inscribirte directamente con nosotros para
                        acceder a beneficios exclusivos y ser parte activa de esta comunidad vibrante. ¡Inscríbete ahora
                        y vive la experiencia en grande!
                    </p>

                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">contáctanos</h4>
                    <h6 class="text-light mb-2">Dirección</h6>
                    <a class="btn btn-link"
                        href="https://www.google.com/maps/search/Av.+Concha+y+Toro+%231.820./@-33.5955482,-70.5799105,16z?entry=ttu">Avenida
                        Av. Concha y Toro #1.820</a>

                    <h6 class="text-light mb-2">Telefono</h6>
                    <a class="btn btn-link" href="tel:+562 2731 5388">+56227315388</a>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="text-light mb-4">Menú</h4>
                    <a class="btn btn-link" href="{% url 'index' %}">Volver al inicio</a>
                    <a class="btn btn-link" href="{% url 'postulaciontaller' %}">postula aqui</a>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Síguenos</h4>
                    <h6 class="text-white mt-4 mb-3">Nuesatras redes</h6>
                    <div class="d-flex pt-2">

                        <a class="btn btn-square btn-outline-light me-1"
                            href="https://www.facebook.com/munipuentealto/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light me-1"
                            href="https://www.instagram.com/mpuentealto/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'core/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'core/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'core/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'core/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    <script src="{% static 'core/js/mensaje.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>


    {% block js %}
    {% endblock %}
</body>

</html>