{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}

{% endblock %}
{% block contenido %}

<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 m-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if taller %}
                    <p>Taller: {{ taller.nombre }}</p>
                {% endif %}
                <table>
                    {{ form | crispy }}
                </table>
                <button type="submit" class="ov-btn-grow-ellipse" style="margin: 30px ;">Postular</button>
            </form>
            <br><br><br><br><br>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% if messages %}
{% for aux in messages %}
<script>
    Swal.fire({
        title: 'Confirmación',
        text: '{{ aux }}',
        icon: 'success',
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Aceptar'
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}
