{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<style>
  body {
    text-align: center;
    /* Alinea el texto al centro */
  }

  h1 {
    margin-top: 50px;
    /* Agrega un margen superior para separar el título del borde superior */
  }


  
</style>
{% endblock %}

{% block contenido %}
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center">
  </div>
</div>
<h1>Talleres</h1>

{% for taller in talleres %}

<div class="container">
  <div class="row g-3 team-items">
    {% if taller %}
      
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 important-col">
          <div class="team-item">
            <div class="team-social text-center">
              <td>
                <a href="{% url 'inscripciontaller' %}">
                  <button type="button" class="btn btn-primary">Inscríbete</button>
                </a>
              </td>
            </div>
            <div class="bg-light text-center p-4" style="height: 220px;">
              <div class="container mt-1">
                <div class="media">
                  <div class="media-body my-auto text-left">
                    <div class="row my-auto flex-column flex-md-row">
                      <div class="col my-auto">
                        <h6 class="mb-2">Nombre: {{ taller.nombre }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-3">
                <div class="media">
                  <div class="media-body my-auto text-left">
                    <div class="row my-auto flex-column flex-md-row">
                      <div class="col my-auto">
                        <h6 class="mb-2">Duración:</h6>
                        <small class="mb-2"> {{ taller.horas }} horas</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
   
    {% else %}
      <div class="alert alert-danger text-center">
        No hay talleres disponibles.
      </div>
    {% endif %}
  </div>
</div>






















{% endfor %}

{% endblock %}

{% block js %}
<!-- Agrega aquí tus scripts JavaScript específicos si es necesario -->
{% endblock %}