<!-- templates/core/mis_inscripciones.html -->
{% extends 'core/base.html' %}
{% block contenido %}

<div class="container">
    <h1>Mis Inscripciones</h1>

    {% if inscripciones %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Taller</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <!-- Agrega más campos según sea necesario -->
                </tr>
            </thead>
            <tbody>
                {% for inscripcion in inscripciones %}
                    <tr>
                        <td>{{ inscripcion.taller.nombre }}</td>
                        <td>{{ inscripcion.nombre }}</td>
                        <td>{{ inscripcion.edad }}</td>
                        <!-- Agrega más campos según sea necesario -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes inscripciones.</p>
    {% endif %}
</div>

{% endblock %}
